@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

#FCEEB5 a {
  color: #FCEEB5;
}

#A2CCB6 a {
  color: #A2CCB6;
}

#EE786E a {
  color: #EE786E;
}

.colors #colorError {
  display: none;
}/* ---------------
   # Form
--------------- *//* ---------------
   # Overlay Menu
--------------- */.hamburger {
  z-index: 1;
  right: 55px;
  top: 52px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  padding-left: 60px;
}

.overlay a:hover,.overlay a:focus {
  color: #000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 70px;
}/* ---------------
   # Colorfield
--------------- */.cfstyle {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #666 !important;
}

#hexHelp {
  margin-left: 13px;
}/* ---------------
   # Animated BG
--------------- */.animated-bg {
  background: linear-gradient(-45deg, #EE786E, #EE7752, #E73C7E, #23A6D5, #EE786E, #23D5AB, #FCEEB5, #A2CCB6, #EE786E, #A2CCB6);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  border-bottom: 1px solid white;
}/* ---------------
   # Sticky
--------------- *//* ---------------
   # Topbar
--------------- */.navbar {
  height: 275px;
  background: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-family: "Open Sans",sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.bsa {
  font-weight: 900;
  border-bottom: 1px dotted #fff;
}

span.brand-small {
  font-size: 20px;
}

.navbar-brand a {
  color: #fff !important;
  font-family: "Open Sans",sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
}

.nbp {
  margin: 0;
  font-size: 50px;
}

.navbar a {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: none;
}

.navbar-brand i {
  padding-right: 10px;
}/* ---------------
   # Normalize https://necolas.github.io/normalize.css/
--------------- */html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0px;
    right: 30px;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=gradient.css.map */
