body {
  font-family: "Montserrat", sans-serif;
  margin-right: 0;
  margin-left: 0;
}

.cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cabecera_logo {
  height: 129px;
  margin-left: 30px;
  margin-bottom: 13px;
}

.cabecera_logo:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.menu_lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 500px;
  height: 50px;
}

li {
  margin: 20px;
}

.hero {
  background-image: url("../../images/anas-alshanti-169265-unsplash.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.titulo_content {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.68);
}

.titulo_text {
  font-family: "Aclonica", sans-serif;
  color: #0a0613c7;
}

.titulo_parrafo {
  font-family: "Aclonica", sans-serif;
  font-size: 30px;
  color: #0a0613c7;
}

.container_soy {
  margin: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image_hover:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-filter: opacity(0.5) grayscale(100%);
  filter: opacity(0.5) grayscale(100%);
}

.container_soy-text {
  margin-top: 10px;
}

.soy_image {
  width: 50%;
  height: 50%;
}

.titulo_descripcion {
  color: #14d9c4;
  width: 600px;
  margin-right: 0;
}

.titulo_descripcion.soy-title {
  float: right;
}

.parrafo_text {
  color: #1c1136;
  float: right;
  width: 600px;
}

.container_descripcion {
  margin: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.description_image {
  width: 50%;
  height: 50%;
}

.social-titulo {
  color: #14d9c4;
  text-align: center;
}

.icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-block {
  text-decoration: none;
  color: #1c1136;
  font-size: 50px;
  margin: 10px;
}

.icon-block:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-filter: opacity(0.5) grayscale(100%);
  filter: opacity(0.5) grayscale(100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.footer_img {
  width: 100px;
}

/*# sourceMappingURL=main.css.map */
