@import "core/settings";

body {
  font-family: "Montserrat", sans-serif;
  margin-right: 0;
  margin-left: 0;
}

h1 {
  font-size: 50px;
}

.cabecera {
  display: flex;
}

.cabecera_logo {
  height: 129px;
  margin-left: 30px;
  margin-bottom: 13px;
  &:hover {
    transform: rotateY(360deg);
    transition: all 0.7s ease-in-out;
  }
}

.menu_lista {
  display: inline-block;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

li {
  margin: 20px;
}

.hero {
  background-image: url("../../images/anas-alshanti-169265-unsplash.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  text-align: center;
  justify-content: center;
}
// .hero_img {
//   width: 100%;
// }
.titulo {
  display: flex;
  flex-direction: column;
}
.titulo_content {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.68);
}

.titulo_text {
  font-family: "Aclonica", sans-serif;
  color: #0a0613c7;
}

.titulo_parrafo {
  font-family: "Aclonica", sans-serif;
  font-size: 30px;
  color: #0a0613c7;
}

.container_soy {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.image_hover{
    &:hover{
        transition: all 0.3s linear;
        filter: opacity(.5) grayscale(100%);
        
    }
}

.container_soy-text{
    margin-top: 10px;
}

.soy_image{
    width: 50%;
    height: 50%;
}

.parrafo_text {
  color: #0a0613;
  float: right;
  width: 600px;
}

.container_descripcion {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.descripcion_titulo {
  color: #0a0613;
  width: 600px;
}

.icon_container{
  display: flex;  
}
.icon-block{
    text-decoration: none;
    color: gray;
    font-size: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer_img {
  width: 100px;
}
