@import 'core/settings';

body{ 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.hero{
    background-image: url("../../images/anas-alshanti-169265-unsplash.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.hero_img{
    width: 100%;
}
.titulo{
    display: flex;
    flex-direction: column;
}
.titulo_content{
    background-color: #fff;
    background: rgba(255, 255, 255, 0.68);
}
h1{
    font-size: 50px;
}
.titulo_text{
    font-family: 'Aclonica', sans-serif;
    color: #0a0613c7;
}
.parrafo{
    font-family: 'Aclonica', sans-serif;
    font-size: 30px;
    color: #0a0613c7;
}
.parrafo_text{
    color:#0a0613;
}
.cabecera{
    display: flex;
}
.cabecera_logo{
    /* height: 150px; */
}
.lista{
    display: inline-block;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    
}
li{
    margin: 20px;
}
.soy{
    text-align: center;
    margin: 0 200px;  
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
img{
    max-width: 100%;
}
.footer_img{
    width: 100px;
}
